SECRET_KEY=django-insecure-k8m=mn5%2!f01mxn&6g7e8)7nc(ayw_nd^*o_-=b$98tm7bar@
DEBUG=True
RAZORPAY_KEY_ID=rzp_test_qR4RRcX7iYEtFH
RAZORPAY_KEY_SECRET=1WVI4f7rnhwRhYSunmR3JDl6
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
